/* Colori */
body {
    background-color: #fff;
    color: #333;
  }
  h1, h2 {
    color: #000;
  }
  a {
    color: #0066cc;
  }
  
  /* Tipografia */
  h1 {
    font-size: 2em;
    margin-top: 0;
  }
  h2 {
    font-size: 1.5em;
    margin-top: 1em;
  }
  p {
    font-size: 1em;
    line-height: 1.5em;
  }
  
  /* Immagini */
  img {
    max-width: 100%;
    margin: 1em auto;
  }
  
  /* Collegamenti */
  a:hover {
    text-decoration: underline;
  }
  
  /* Layout */
  header {
    background-color: #ccc;
    padding: 1em;
  }
  main {
    padding: 1em;
  }
  section {
    margin-bottom: 1em;
  }
  